<div class="flex-row vertical-align-center">
  <img src="/assets/img/check.png" height="50px">
  <span>
    {{vehicule.calificacion}}
  </span>
</div>

<h1>Datos Básicos</h1>
<table>
  <tr>
    <td>Placa</td>
    <td>:</td>
    <td>{{vehicule.placa}}</td>
  </tr>
  <tr>
    <td>Marca</td>
    <td>:</td>
    <td>{{vehicule.placa}}</td>
  </tr>
  <tr>
    <td>Modelo</td>
    <td>:</td>
    <td>{{vehicule.placa}}</td>
  </tr>
  <tr>
    <td>Color</td>
    <td>:</td>
    <td>{{vehicule.placa}}</td>
  </tr>
</table>

<div>
  <button md-raised-button md-dialog-close color="primary" [routerLink]="['/detail-info']">VER MAS INFORMACION</button>
</div>
