<md-tab-group>
  <md-tab label="Datos del Vehículo">
    <h1>Información del SAT</h1>
    <table>
      <tr>
        <td>Placa</td>
        <td>:</td>
        <td>{{vehicule.infoSat.placa}}</td>
      </tr>
      <tr>
        <td>Marca</td>
        <td>:</td>
        <td>{{vehicule.infoSat.placa}}</td>
      </tr>
      <tr>
        <td>Modelo</td>
        <td>:</td>
        <td>{{vehicule.infoSat.placa}}</td>
      </tr>
      <tr>
        <td>Color</td>
        <td>:</td>
        <td>{{vehicule.infoSat.placa}}</td>
      </tr>
    </table>
    <h1>Información del SUNAT</h1>
    <table>
      <tr>
        <td>Deuda Tributaria</td>
        <td>:</td>
        <td>{{vehicule.infoSunat.deudaTribu}}</td>
      </tr>
      <tr>
        <td>Moras</td>
        <td>:</td>
        <td>{{vehicule.infoSunat.moras}}</td>
      </tr>
    </table>
  </md-tab>
  <md-tab label="Comentarios">
    <button md-raised-button md-dialog-close color="primary" (click)="addComment()">AGREGAR</button>
    <h2 class="second-color">Resumen</h2>
    <p>Bueno: 3</p>
    <p>Regular: 3</p>
    <p>Malo: 2</p>

    <h2 class="second-color">Comentarios</h2>

    <div *ngFor="let comment of vehicule.comments" class="comment-wrapper">
      <table width="100%">
        <tr>
          <td width="30%">{{comment.usuario}}</td>
          <td width="30%">{{comment.fecha}}</td>
          <td><span class="calificacion">{{comment.calificacion}}</span></td>
        </tr>
      </table>
      <div class="comment">
        {{comment.comentario}}
      </div>
    </div>
  </md-tab>
</md-tab-group>
