/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    padding-top: 0;
    margin: 0;
    background:lightgray;
    height: 100%;
}

.flex-row{
  display: flex;
}

.vertical-align-center{
  align-items: center;
}
